h1 {
    color: white;
    font-weight: bold;
    font-family :'Roboto',sans-serif ;
    font-size: 12pt;
    font-weight: bold;
}
h2{
    color: #ff7a01;
    font-size: 18pt;
    text-align: left;
    font-family :'Roboto',sans-serif ;
}

h3 {
    font-size: 20pt;
    font-weight: 900;
    text-align: center;
    color: #fe513d;
    font-family :'Roboto',sans-serif ;
}
p{
    font-size: 12pt;
    font-weight: 300;
    text-align: justify;
    color: #000000;
    padding-left: 50pt;
    padding-right: 50pt;
    font-family :'Roboto',sans-serif ;
}

footer{
    background-color: #FF2F8A;
    text-align: center;
    padding: 3px ;
}

nav ul{
    width: 60%;
    margin: 0 auto;
}
nav ul li {
   display: table-cell;
    list-style-type: none;
}
nav ul li a{
    display: block;
    margin: 0.5rem;
    padding: 0.4rem 0;
    min-width: 150px;
    justify-content: flex-end;
    text-align: center;
    color : #000000;
    background-color: #FF2F8A;
    font-family :'Roboto',sans-serif ;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
    transition: all 1s;
}
nav ul li a:hover{
    background-color: #ff7a01;
    color: #000000;
    font-family :'Roboto',sans-serif ;
    font-size: 12pt;
    font-weight: bold;
    border-color: #fe513d;
}
nav li ul{
    display: none;
    height : auto;
    margin: 0;
    padding: 0;
}
nav li ul li{
    display: table;
    height : auto;
    margin: 0;
    padding: 0;
}
nav li ul li ul{
    display: table-cell;
    height : auto;
    margin: 0;
    padding: 0;
}
nav li:hover ul{
    display: block;
}

div#box1 div.Article-Home{
    margin: 8px;
    border-bottom: thick double #FF2F8A;

}


